html {
    background-color: cyan;
}

main {
    padding: 10px;
    background-color: silver;
    text-align: center;
}
.post {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 0px;
      display: flex;
}


.post img {
    margin: 10px;
}

